.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cccc;
    padding: 10px;
  }
  
  .logo img {
    width: 40px; /* Tamanho da logo */
  }
  
  .profile-icon img {
    width: 40px; /* Tamanho do ícone de perfil */
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ff3333;
}